[Unit]
Description=Telegram Sacs Calculator Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/calc_sacs
ExecStart=/opt/calc_sacs/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
